body.dragging, body.dragging * {
    cursor: move !important;
}
  
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

.wikicontent {
    clear: both;
}

.wikisidebar {
    height: 100%;
    resize: horizontal;
    overflow: auto;
    max-width: 50% !important;
    min-width: 384px !important;
}

#wikitree {
    list-style-type: none;
}
#wikitree .indent, .separator {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 3px;
    padding-left: 3px;
    cursor: default;
    color: transparent;
}
#wikitree .branch, #wikitree .action, #wikilist .action, .expandAll, .collapseAll, .gotoSelected {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
#wikitree li, #wikilist li {
    line-height: normal !important;
}
#wikitree li:last-child, #wikilist li:last-child {
    margin-bottom: 0px !important;
}
#wikitree .wikilink.active {
    box-shadow: 0 0 10px #777777 inset;
}
#wikitree button a .fa, #wikilist button a .fa {
    color: var(--link-color-primary);
}

.wikilink {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    z-index: 1;
}

.wikipage {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    white-space: nowrap;
}
.wikipage.dragElem {
    opacity: 0.4;
}
.wikipage.over {
    border: 2px dashed #000;
    border-top: 2px solid blue;
}
