/* [draggable] {
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
-khtml-user-drag: element;
-webkit-user-drag: element;
} */

body.dragging, body.dragging * {
    cursor: move !important;
}
  
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

#wikitree {
    list-style-type: none;
}
#wikitree li {
    line-height: normal !important;
}
#wikitree li:last-child {
    margin-bottom: 0px !important;
}
#wikitree .wikilink.active {
    box-shadow: 0 0 10px #777777 inset;
}

.wikilink {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.wikipage {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}
.wikipage.dragElem {
    opacity: 0.4;
}
.wikipage.over {
    border: 2px dashed #000;
    border-top: 2px solid blue;
}
